# Enable RewriteEngine
RewriteEngine On

# Redirect all non-existent pages to a specific PHP page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /PC_Vendor/404.php [L,R=302]
